<a id="menu-button" title="Navigation">
	<span class="menu-button-bar menu-button-bar-1"></span>
	<span class="menu-button-bar menu-button-bar-2"></span>
	<span class="menu-button-bar menu-button-bar-3"></span>
</a>
<div id="menu">
	<ul class="menu-list">
		{{#foreach navigation}}
		<li class="menu-list-item">
			<a class="{{slug}}{{#if current}} current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
		</li>
		{{/foreach}}
		<li class="menu-list-item icon">
			{{#if @blog.twitter}}
			<a class="twitter" href="{{twitter_url}}" title="{{@blog.twitter}}"><i class="icon-twitter"></i></a>
			{{/if}}
			{{#if @blog.facebook}}
			<a class="facebook" href="{{facebook_url}}" title="{{@blog.facebook}}"><i class="icon-facebook"></i></a>
			{{/if}}
			{{#if @labs.subscribers}}
			<a class="subscribe" href="{{@blog.url}}/subscribe/"><i class="icon-mail"></i></a>
			{{else}}
			<a class="rss" href="{{@blog.url}}/rss/" title="Feed"><i class="icon-rss"></i></a>
			{{/if}}
		</li>
	</ul>
</div>